.DS_Store
Métodos Runge-Kuttas.html
.ipynb_checkpoints/Métodos Runge-Kuttas-checkpoint.html
ventanita.py
Métodos Runge-Kuttas.pdf
ventanita.ipynb
.ipynb_checkpoints/ventanita-checkpoint.ipynb
__pycache__/difer.cpython-311.pyc
.ipynb_checkpoints/Métodos Runge-Kuttas-checkpoint.ipynb
